<div class="main-page">
  <h2 class="title">Ano Letivo</h2>

  <div class="main-row">
    <div class="main-btn" style="background-color: #c19875;" [routerLink]="['/menu-ensino', 6]">6º Ano</div>
    <div class="main-btn" *ngIf="(role === 'aluno' && anoLetivo >= 7) || role !== 'aluno'" style="background-color: #dbcda9;" [routerLink]="['/menu-ensino', 7]">7º Ano</div>
  </div>
  <div class="main-row">
    <div class="main-btn" *ngIf="(role === 'aluno' && anoLetivo >= 8) || role !== 'aluno'" style="background-color: #57b291;" [routerLink]="['/menu-ensino', 8]">8º Ano</div>
    <div class="main-btn" *ngIf="(role === 'aluno' && anoLetivo >= 9) || role !== 'aluno'" style="background-color: #8ac89d;" [routerLink]="['/menu-ensino', 9]">9º Ano</div>
  </div>

      <div class="back-to-main" routerLink="/materias">
        <img src="left-arrow.png" alt="Voltar para o início" />
    </div>
</div>