<div class="materias-page">
  

  <h1 class="title">Matérias</h1>
  <div class="materias-row">
    <div class="materias-btn" style="background-color: #d19494;" [routerLink]="['/ano-letivo', 'portugues']">Português</div>
    <div class="materias-btn" style="background-color: #7884ec;" [routerLink]="['/ano-letivo', 'matematica']">Matemática</div>
    <div class="materias-btn" style="background-color: #88d990;" [routerLink]="['/ano-letivo', 'ciencias']">Ciências</div>
  </div>
  <div class="materias-row">
    <div class="materias-btn" style="background-color: #f2e3bc;" [routerLink]="['/ano-letivo', 'geografia']">Geografia</div>
    <div class="materias-btn" style="background-color: #7f5a5a;" [routerLink]="['/ano-letivo', 'historia']">História</div>
  </div>

    <div class="back-to-main" routerLink="/">
        <img src="left-arrow.png" alt="Voltar para o início" />
    </div>
</div>